@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family:'Plus Jakarta Sans',sans-serif;
}

.font-serif{
  font-family:'Marcellus',serif;
}

/* Swiper Pagination */

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #a68445;
  opacity: 0.35;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #7a0008;
  opacity: 1;
  transform: scale(1.2);
}